LOADING THE DATA SET

In [93]:
import pandas as pd
df=pd.read_csv("/content/Mall_Customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

KNOWING THE NUMBER OF ELEMENTS IN THE DATASET

In [94]:
df.shape

(200, 5)

CHECKING THE STRUCTURE OF THE DATASET AND ALSO GETTING THE STATISTICAL SUMMARY OF THE DATASET

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [96]:
df.describe(include = 'all')

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100)
count,200.000000,200,200.000000,200.000000,200.000000
unique,NaN,2,NaN,NaN,NaN
top,NaN,Female,NaN,NaN,NaN
freq,NaN,112,NaN,NaN,NaN
mean,100.500000,NaN,38.850000,60.560000,50.200000
std,57.879185,NaN,13.969007,26.264721,25.823522
min,1.000000,NaN,18.000000,15.000000,1.000000
25%,50.750000,NaN,28.750000,41.500000,34.750000
50%,100.500000,NaN,36.000000,61.500000,50.000000
75%,150.250000,NaN,49.000000,78.000000,73.000000
max,200.000000,NaN,70.000000,137.000000,99.000000

CHECKING FOR MISSING VALUES USING DF.ISNULL

In [97]:
nullvalues=df.isnull()
nullvalues.sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

CHECKING FOR DUPLICATED VALUES USING DF.DUPLICATED

In [98]:
duplicatevalues=df.duplicated()
duplicatevalues.sum()

np.int64(0)

STANDERDIZING THE DATA

In [99]:
df.columns = (df.columns
                .str.strip()
                .str.lower()
                .str.replace(' ', '_')
                .str.replace(r'[()]', '', regex=True))
print("\nColumns after rename:", list(df.columns))

Columns after rename: ['customerid', 'gender', 'age', 'annual_income_k$', 'spending_score_1-100']

COUTING THE NUMBER OF MALE AND FEMALE

In [100]:
if 'gender' in df.columns:
    df['gender'] = df['gender'].astype(str).str.strip().str.lower()

    gender_map = {'m':'male','male':'male','f':'female','female':'female'}
    df['gender'] = df['gender'].map(gender_map).fillna(df['gender'])

    print("\nGender value counts after mapping:\n", df['gender'].value_counts())

Gender value counts after mapping:
 gender
female    112
male       88
Name: count, dtype: int64

CONVERTING THE NUMERIC COLUMNS

In [101]:
candidate_numeric = ['age', 'annual_income_k$', 'spending_score_1-100']
for col in candidate_numeric:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
print("\nMissing after numeric coercion:\n", df[candidate_numeric].isnull().sum())

Missing after numeric coercion:
 age                     0
annual_income_k$        0
spending_score_1-100    0
dtype: int64

In [102]:
print("\nFinal shape:", df.shape)
print("Final missing values per column:\n", df.isnull().sum())
print(df.dtypes)

Final shape: (200, 5)
Final missing values per column:
 customerid              0
gender                  0
age                     0
annual_income_k$        0
spending_score_1-100    0
dtype: int64
customerid               int64
gender                  object
age                      int64
annual_income_k$         int64
spending_score_1-100     int64
dtype: object

In [103]:
output_path = "Mall_Customers_cleaned_day1.csv"
df.to_csv(output_path, index=False)
print("\nCleaned file saved to:", output_path)

Cleaned file saved to: Mall_Customers_cleaned_day1.csv

SUMMARY FOR TASK DAY 1:
WE HAVE BEEN PROVIDED WITH A FEW DATASET...I, MYSELF BEING A BEGINNER PICKED THE MALL SEGMENTATION DATASET..AFTER LOADING AND CHECKING THE DATA SET WITH INFO AND DESCRIBE..I CHECKED FOR NULL AND DUPLICATED VALUES WHICH WERE NOT PRESENT IN THE DATASET..THEN I STANDARDIZED THE COLUMN NAMES FOR EASY ACCESS AND ALSO TO REDUCE THE ERRORS..THEN COUNTING THE EXACT MALE AND FEMALE IN THE GENDER COLUMN...THEN SEEING IF ALL THE NUMERIC DATA ARE IN THE RIGHT FORMAT...AND FINALLY SAVING THE ANALYSED DATASET